.button {
    border-radius: 4px;
    text-decoration: none;

    &__primary {
        border: solid 1px $blue;
        color: $blue;
    }

    &__secondary {
        border: solid 1px #02C7C6;
        color: #083D8C;
        font-weight: bold;
        height: 48px;
        margin: 0 auto;
        padding: 10px 10px;
        width: 192px;
    }

} //.button