.filters {
    background-color: #F6F6F6;
    float: left;
    padding: 20px 0;
    width: 100%;

    &__zip {
        color: $blue;
        float: left;
        font-size: 16px;
        font-weight: bold;
        line-height: 50px;
        margin: 0;

        @media (min-width: 1024px) {
            font-size: 18px;
            line-height: 26px;
            margin-left: 100px;
            margin-right: 50px;
            position: relative;

            &:after {
                border-left: solid 2px #ECECEC;
                content: "";
                height: 57px;
                position: absolute;
                right: -25px;
                top: -15px;
            }

        }

    }

    &__toggle {
        background-color: white;
        border-bottom: solid 1px #D8D8D8;
        border-left: solid 1px #D8D8D8;
        border-right: solid 1px #D8D8D8;
        border-top: solid 1px #D8D8D8;
        cursor: pointer;
        float: right;
        height: 50px;
        position: relative;
        width: 177px;

        @media (min-width: 1024px) {
            background-color: inherit;
            border: none;
            cursor: default;
            float: left;
            height: auto;
            position: static;
            width: auto;
        }

    }

    &__title {
        color: #3F3F3F;
        float: left;
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
        margin: 0;
        padding: 18px 12px 12px 13px;

        @media (min-width: 1024px) {
            font-size: 18px;
            line-height: 26px;
            margin-right: 45px;
            padding: 0;
        }

    }

    &__arrow {
        background-color: #F6F6F6;
        border-left: solid 1px #D8D8D8;
        float: left;
        padding: 22px 22px 21px 21px;

        @media (min-width: 1024px) {
            display: none;
        }

    }

    &__filter {
        float: left;
        margin-bottom: 30px;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 1024px) {
            margin: 0;
            width: auto;
        }

    }



    &__container {
        background-color: white;
        border: solid 1px #D8D8D8;
        display: none;
        float: left;
        padding-bottom: 22px;
        padding-top: 22px;

        label {
            color: #3F3F3F;
            cursor: pointer;
            float: left;
            font-size: 16px;
            margin-left: 60px;

            @media (min-width: 1024px) {
                font-size: 12px;
                line-height: 26px;
                margin-left: 70px;
            }

        }

        input {
            -webkit-appearance: none;
            float: left;
            margin-left: 23px;
            position: relative;

            &:before {
                background-color: white;
                border-radius: 25%;
                border: solid 1px #D8D8D8;
                content: "";
                cursor: pointer;
                height: 26px;
                left: 0;
                position: absolute;
                top: 0;
                width: 26px;
            }

            &:after {
                background-color: white;
                content: "";
                cursor: pointer;
                height: 10px;
                left: 8px;
                position: absolute;
                top: 8px;
                width: 10px;
            }

        }

        input:checked {

            &:before {
                background-color: #216DDF;
                border: solid 1px #216DDF;
            }

        }

        input:focus {
            outline: none;
        }

        

        @media (min-width: 1024px) {
            background-color: inherit;
            border: none;
            display: block;
            padding: 0;
        }

    }

    @media (min-width: 1024px) {
        border-radius: 10px;
        margin-bottom: 26px;
        padding: 30px 0;
    }

}

.filters .filters__row {
    margin: 0;
}