.header {
    box-shadow: 0 2px 4.3px .7px rgba(0, 0, 0, .31);
    float: left;
    height: 57px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    width: 100%;
    z-index: 2;
    
    &__logo {
        float: left;
        padding-top: 5px;
        width: 175px;

        @media (min-width: 1024px) {
            padding-bottom: 0;
            padding-top: 10px;
            width: 231px;
        }

    }

    &__link {
        float: left;
        font-size: 14px;
        font-weight: bolder;
        height: 36px;
        line-height: 36px;
        margin-left: 10px;
        padding: 0px 5px;
        text-transform: uppercase;

        img {
            position: relative;
            top: -3px;
            width: 15px;
        }

        @media (min-width: 1024px) {
            float: right;
            font-size: 15px;
            font-weight: normal;
            height: 49px;
            line-height: 49px;
            padding: 0 20px;
            text-transform: none;

            img {
                right: 5px;
            }

        }

        @media (max-width: 1024px) {

            span {
                display: none;
            }

        }

    }

    &__mobile-menu {
        height: 55px;
        position: absolute;
        right: 5px;
        text-align: center;
        top: 0;
        transition: 250ms;
        width: 55px;

        &:hover {
            transform: scale(1.1);
        }

        @media (min-width: 1024px) {
            display: none;
        }

    }

    &__desktop-top-bar {
        background-color: #083D8C;
        height: 44px;
        width: 100%;

        ul {
            float: right;
            margin: 0;
            padding-left: 0;
            width: 100%;

            li {
                float: right;
                list-style: none;
                margin-left: 40px;

                a {
                    color: white;
                    font-size: 12px;
                    line-height: 44px;
                    text-decoration: none;

                    &:hover {
                        color: cyan;
                    }
                }

            }

        }

        @media (max-width: 1024px) {
            display: none;
        }

    }

    &__desktop-bottom-bar {
        width: 100%;

        @media (min-width: 1024px) {
            padding-bottom: 24px;
            padding-top: 33px;
        }
        
    }

    &__desktop-nav {
        float: right;
        margin: 0;
        padding-left: 0;
        padding-top: 15px;

        li {
            float: left;
            list-style: none;
            margin-right: 55px;

            a {
                color: #083D8C;
                text-decoration: none;

                &:hover {
                    color: black;
                }
            }

        }

        @media (max-width: 1024px) {
            display: none;
        }

    }

    @media (min-width: 1024px) {
        height: auto;
        padding-bottom: 0;
        padding-top: 0;
    }

} //.header