.mobile-menu {
    background-color: white;
    border-bottom: solid 8px #0BC9C8;
    border-top: solid 8px #0BC9C8;
    position: fixed;
    right: -100vw;
    top: 0;
    transition: 500ms;
    width: 100vw;
    z-index: 3;

    &__close {
        position: absolute;
        right: 25px;
        top: 25px;
        transition: 250ms;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__title {
        color: #01529E;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        padding-bottom: 25px;
        padding-top: 42px;
        text-align: center;
        text-transform: uppercase;
    }

    &__list {
        float: left;
        margin: 0;
        padding-left: 0;
        width: 100%;

        li {
            background-color: #F6F6F6;
            float: left;
            list-style: none;
            margin-bottom: 5px;
            padding: 20px 0;
            width: 100%;

            p {
                color: #616161;
                float: left;
                font-size: 18px;
                line-height: 24px;
                margin: 0;
                padding-left: 23px;
                width: 50%;
            }

            a {
                color: #0BC9C8;
                float: left;
                font-size: 20px;
                line-height: 27px;
                padding-right: 30px;
                text-align: right;
                text-decoration: none;
                width: 50%;
            }

        }

    }

}