.modal {
    width: 90%;
    margin-left: 5%;
    z-index: 5;
    position: absolute;
    top: 50px;
    left: 0;
    overflow-y: auto;
    max-height: calc(100vh - 80px);
    float: left;
    
    &__header {
        padding-top: 25px;
        padding-bottom: 36px;
        background-color: #083D8C;
        color: white;
        padding-left: 17px;
        padding-right: 36px;
        float: left;
        width: 100%;

        @media (min-width: 1024px) {
            padding-left: 34px;
            padding-right: 31px;
        }
    }

    &__close {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 20px;
        transition: 250ms;

        &:hover {
            transform: scale(1.25);
        }

        @media (max-width: 1024px) {
            display: none;
        }

    }

    &__subtitle {
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        margin-bottom: 6px;
        margin-top: 0;
    }

    &__title {
        font-size: 28px;
        line-height: 38px;
        font-weight: bold;
        margin: 0;
    }

    &__body {
        padding: 29px 12px 20px 17px;
        background-color: white;
        float: left;
        width: 100%;

        @media (min-width: 1024px) {
            padding-left: 34px;
            padding-right: 31px;
        }

    }

    &__instructions {
        color: #616161;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 37px;

        @media (min-width: 1024px) {
            margin-bottom: 24px;
        }

    }

    &__form {

        @media (min-width: 1024px) {
            background-color: #F6F6F6;
            padding: 32px 24px 37px 22px;
        }

    }

    &__label {
        color: #616161;
        font-size: 14px;
        line-height: 19px;
        font-weight: bold;
        margin-bottom: 6px;
        display: inline-block;

        &-owner {
            display: block;
            margin-bottom: 21px;

            @media (min-width: 1024px) {
                position: relative;
                margin-bottom: 9px;

                &:after {
                    content: "optional";
                    color: #BEBEBE;
                    position: absolute;
                    font-style: italic;
                    font-weight: 100;
                    top: 0px;
                    left: 540px;
                }

            }

        }

        &-currentowneryes,
        &-currentownerno {
            float: left;
            margin: 0 10px 29px 25px;
            padding-top: 3px;
            font-weight: 100;

            @media (min-width: 1024px) {
                position: relative;
                top: 2px;
                left: -20px;
            }

        }

        &-required {
            position: relative;

            &:after {
                content: "";
                width: 22px;
                height: 22px;
                position: absolute;
                left: 278px;
                top: -2px;
                background-color: inherit;
                border-radius: 100%;
                border: solid 1px #D8D8D8;

                @media (min-width: 1024px) {
                    left: 570px;
                }

            }

        }

        &-required-short {

            &:after {
                left: 179px;

                @media (min-width: 1024px) {
                    left: 225px;
                }

            }

        }

        &-optional {
            position: relative;

            &:after {
                content: "optional";
                color: #BEBEBE;
                position: absolute;
                font-style: italic;
                font-weight: 100;
                top: 0px;
                left: 240px;

                @media (min-width: 1024px) {
                    left: 540px;
                }

            }

        }

    }

    &__input {
        display: block;
        border: solid 1px #D8D8D8;
        padding: 10px 15px;
        margin-bottom: 18px;

        &-name {
            width: 300px;

            @media (min-width: 1024px) {
                width: 595px;
            }

        }

        &-phone {

            @media (min-width: 1024px) {
                width: 250px;
            }

        }

        &-email {
            width: 300px;

            @media (min-width: 1024px) {
                width: 595px;
            }

        }

        &-comments {
            width: 300px;

            @media (min-width: 1024px) {
                width: 595px;
            }

        }

        &-currentowneryes,
        &-currentownerno {
            float: left;
            margin-right: 5px;
            position: relative;
            -webkit-appearance: none;
            border: none;

            &:before {
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 25%;
                background-color: #D8D8D8;
                border: solid 1px black;
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
            }

            &:after {
                content: "";
                width: 8px;
                height: 8px;
                left: 6px;
                top: 6px;
                position: absolute;
                background-color: white;
                cursor: pointer;
                display: none;
            }

            &:checked {
                
                &:before {
                    background-color: #216DDF;
                    border: solid 1px #216DDF;

                    @media (min-width: 1024px) {
                        background-color: #0BC9C8;
                        border: solid 1px black;
                    }

                }

                &:after {
                    display: inline-block;

                    @media (min-width: 1024px) {
                        display: none;
                    }

                }

                @media (min-width: 1024px) {

                    & + .modal__label-currentowneryes,
                    & + .modal__label-currentownerno {
                        color: white;
                    }

                }
    
            }
    
            &:focus {
                outline: none;
            }

            @media (min-width: 1024px) {

                &:before {
                    height: 30px;
                    width: 60px;
                    border-radius: 4px;
                    background-color: inherit;
                }

            }

            @media (min-width: 1024px) {
                margin-right: 15px;
            }

        }

    }

    hr {
        display: block;
        width: 300px;
        margin-bottom: 29px;

        @media (min-width: 1024px) {
            width: 595px;
            margin-bottom: 40px;
        }

    }

    &__submit {
        float: right;
        color: #0BC9C8;
        font-size: 16px;
        line-height: 22px;
        margin-right: 10px;

        img {
            width: 12px;
            height: 14px;
            position: relative;
            top: -5px;
            left: 5px;
        }

        @media (max-width: 1024px) {

            span {
                display: none;
            }
            
        }

        @media (min-width: 1024px) {
            float: none;
            margin: 0 auto;
            display: block;
            border: none;
            color: black;
            font-weight: bold;
            background-color: inherit;
        }

    }

    &__wrapper {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        display: none;
    }

    &__footer {
        background-color: #F6F6F6;
        padding: 20px 34px;
        float: left;
        width: 100%;

        @media (max-width: 1024px) {
            display: none;
        }
        
    }

    &__disclaimer {
        margin: 0;
        color: #616161;
        font-size: 12.5px;
        line-height: 20px;
    }

    @media (min-width: 1024px) {
        width: 703px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

}